<section class="banner-container" data-wow-duration="1s" id="home">
  <div class="container-fluid content" style="background-image: url('images/banner.png')">      
    <div class="content_banner">
      <div class="container">
        <div class="slider" id="single_item" >
          <div class="item">
            <h3 class="lato wow lightSpeedIn">WELCOME TO OUR MARKETPALCE</h3>
            <p class="w3-animate-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor<br> 
non, ornare sagittis dolor. Nulla vestibulu lacus ...</p>
            <div class="row">
              <button type="button" class="btn wow zoomIn">VIEW MORE</button>
              <button type="button" class="btn wow zoomIn">VIDEO TOUR</button>
            </div>
          </div>
          <div class="item">
            <h3 class="lato wow lightSpeedIn">WELCOME TO OUR MARKETPALCE</h3>
            <p class="w3-animate-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor<br> 
non, ornare sagittis dolor. Nulla vestibulu lacus ...</p>
            <div class="row">
              <button type="button" class="btn wow zoomIn">VIEW MORE</button>
              <button type="button" class="btn wow zoomIn">VIDEO TOUR</button>
            </div>
          </div>
          <div class="item">
            <h3 class="lato wow lightSpeedIn">WELCOME TO OUR MARKETPALCE</h3>
            <p class="w3-animate-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor<br> 
non, ornare sagittis dolor. Nulla vestibulu lacus ...</p>
            <div class="row">
              <button type="button" class="btn wow zoomIn">VIEW MORE</button>
              <button type="button" class="btn wow zoomIn">VIDEO TOUR</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>