<section id="features">
    <div class="container">
      <div class="features">
        <h3 class="title_features">FEATURES</h3>
        <div class="row content-feat">
          <div class="col-md-4 content_features wow pulse">
            <div class="img_features">
              <a href="#"><img class="img_features_1" src="images/feat_1.png" alt=""></a>
              <div class="text_features">
                <a href="#"><h3 class="title_text">PRODUCT DESIGN: EAMES CHAIRS</h3></a>
                <p class="text">Eames designs are certainly iconic. Everyone 
                  of us know at least two or three of their famous chairs. 
                  I would even risk saying that most of us dream about having a nice Eames.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 content_features wow pulse">
            <div class="img_features">
              <a href="#"><img class="img_features_1" src="images/feat_2.png" alt=""></a>
              <div class="text_features">
                <a href="#"><h3 class="title_text">ELEGANT AND COLORFUL LOGOS</h3></a>
                <p class="text">I’ve always found logo design to be one of the most challenging 
                  things to get right. There’s so much that a logo can say about a brand without 
                  actually saying it.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 content_features wow pulse">
            <div class="img_features">
              <a href="#"><img class="img_features_1" src="images/feat_3.png" alt=""></a>
              <div class="text_features">
                <a href="#"><h3 class="title_text">A SHOWCASE OF CREATIVE</h3></a>
                <p class="text">It’s always interesting to see another designer’s take on a famous 
                website, app or even physical product. Different designers add their own
                personality and style.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>