<section id="about">
  <div class="container">
    <div class="modest">
      <h3 class="title_modest">WE ARE MODEST</h3>
      <div class="row content_modest">
        <div class="col-md-6 modest_left_1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, 
            tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus sed molestie gravida. 
            Crferm entum  quismagna congue, vel sodales arcu vestibulum. Nunc lobortis dui magna, 
            quis lacusullamcorper at. <br><br>
            Phasellus sollicitudin ante eros ornare, sit amet luctus 
            lorem semper. Suspendisse posuere, quamdictum consectetur, augue metus pharetra tellus, 
            eu feugiatloreg egetnisi. Cras ornare bibendum ante, ut bibendum odio convallis eget. 
            vel sodales arcu vestibulum
          </p>
          <div class="icon">
            <a href="#">
              <span class="icon-facebook wow zoomIn icon_modest"></span>
              <span class="icon-twitter wow zoomIn icon_modest"></span>
              <span class="icon-google2 wow zoomIn icon_modest"></span>
              <span class="icon-sphere wow zoomIn icon_modest"></span>
              <span class="icon-behance wow zoomIn icon_modest"></span>
            </a>
          </div>
        </div>
        <div class="col-md-6 modest_right">
          <ul class="modest_left">
            <li class="modest_1">
              <div class="modest_center">
                  <img class="modest_png" src="../../images/bg.png" alt="">
                  <div class="centered">01</div>
              </div>
              <div class="modest_text">
                  <a href="#"><h5 class="title_text">DEDICATION TO THE CUSTOMERS</h5></a>
                  <p class="text">Integer vel lacus non dui ullamcorper venenatis. 
                  Aliquam vitae tristique nisi, vitae ullamcorper risus. Nam porttitor blandit ultricies.</p>
              </div><br>  
            </li>
            <li class="modest_1">
              <div class="modest_center">
                  <img class="modest_png" src="../../images/bg.png" alt="">
                  <div class="centered">02</div>
              </div>
              <div class="modest_text">
                  <a href="#"><h5 class="title_text">WORKING CLOSELY WITH OUR</h5></a>
                  <p class="text">Integer vel lacus non dui ullamcorper venenatis. 
                  Aliquam vitae tristique nisi, vitae ullamcorper risus. Nam porttitor blandit ultricies.</p>
                </div><br>
            </li>
            <li class="modest_1">
              <div class="modest_center">
                  <img class="modest_png" src="../../images/bg.png" alt="">
                  <div class="centered">03</div>
              </div>
              <div class="modest_text">
                  <a href="#"><h5 class="title_text">INCREASE HAPPINESS</h5></a>
                  <p class="text">Integer vel lacus non dui ullamcorper venenatis. 
                  Aliquam vitae tristique nisi, vitae ullamcorper risus. Nam porttitor blandit ultricies.</p>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>