<section id="contact">
    <div class="container-fluid">
      <div class="stay">
        <div class="container">
            <h3 class="title_stay">STAY IN TOUCH.</h3>
        </div>
        <div class="maps">
            <iframe class="maps_1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8172389040237!2d108.2214883144181!3d16.074970988877443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218307780e03b%3A0xf2dffa50b3ae58cb!2zMzEgxJDGsOG7nW5nIFRy4bqnbiBQaMO6LCBI4bqjaSBDaMOidSwgUS4gSOG6o2kgQ2jDonUsIMSQw6AgTuG6tW5nLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1527732169732" 
            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="container">
          <div class="col-md-12">
            <div class="col-md-6 text-block">
              <h3 class="title_text">CONTACT INFORMATION</h3>
              <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, 
                tristique nec dolor non, ornare sagittis dolor. Nulla vestibulum lacus 
                sed molestie gravida. <br><br> Cras fermentum elit quis magna congue, vel sodales 
                arcu vestibulum.<br> Nunc lobortis dui magna, quis dapibus lacus 
              </p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 form-contact">
              <form class="form-container" action="">
                <div class="form-inline">
                  <div class="form-group">
                    <label class="lb_contact" for="name">
                      YOUR NAME
                    </label><br>
                    <input class="form-control inp_contact" type="text" name="name" id="">
                  </div>
                  <div class="form-group">
                    <label class="lb_contact" for="email">
                      YOUR EMAIL
                    </label><br>
                    <input class="form-control inp_contact" type="email" name="email" id="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="lb_contact" for="message">YOUR MESSAGE</label><br>
                  <textarea class="form-control" rows="8" id="comment"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default">SEND MESSAGE</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>