<section id="team">
    <div class="container">
      <div class="team">
        <h3 class="title_team">MEET THE TEAM</h3>
        <div class="row content-team">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-12 content_team">
            <div class="img_team">
              <img class="img_team_1" src="images/team_1.png" alt="">
              <div class="text_team">
                <h3 class="title_img">GLORIA BROMLEY</h3>
                <p class="text_img">CEO and Founder</p>
              </div>
              <div class="text-block">
                <a href="#"><span class="icon-twitter icon_team"></span></a>
                <a href="#"><span class="icon-facebook icon_team"></span></a>
                <a href="#"><span class="icon-linkedin2 icon_team"></span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-12 content_team">
            <div class="img_team">
              <img class="img_team_1" src="images/team_2.png" alt="">
              <div class="text_team">
                <h3 class="title_img">GLORIA BROMLEY</h3>
                <p class="text_img">CEO and Founder</p>
              </div>
              <div class="text-block">
                <a href="#"><span class="icon-twitter icon_team"></span></a>
                <a href="#"><span class="icon-facebook icon_team"></span></a>
                <a href="#"><span class="icon-linkedin2 icon_team"></span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-12 content_team">
            <div class="img_team">
              <img class="img_team_1" src="images/team_3.png" alt="">
              <div class="text_team">
                <h3 class="title_img">GLORIA BROMLEY</h3>
                <p class="text_img">CEO and Founder</p>
              </div>
              <div class="text-block">
                <a href="#"><span class="icon-twitter icon_team"></span></a>
                <a href="#"><span class="icon-facebook icon_team"></span></a>
                <a href="#"><span class="icon-linkedin2 icon_team"></span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-12 content_team">
            <div class="img_team">
                <img class="img_team_1" src="images/team_4.png" alt="">
                <div class="text_team">
                  <h3 class="title_img">GLORIA BROMLEY</h3>
                  <p class="text_img">CEO and Founder</p>
                </div>
                <div class="text-block">
                  <a href="#"><span class="icon-twitter icon_team"></span></a>
                  <a href="#"><span class="icon-facebook icon_team"></span></a>
                  <a href="#"><span class="icon-linkedin2 icon_team"></span></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>