<section id="services">
    <div class="container">
      <div class="what">
        <h3 class="title_what">WHAT WE DO.</h3>
        <div class="row content-what">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-12 content_what">
            <img src="images/icon_1.png" alt="">
            <div class="text_what">
              <h3 class="title_text">EASY THEME SETUP</h3>
              <p class="text">Nunc mattis lorem in leo lobortis, 
              ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-12 content_what">
            <img src="images/icon_2.png" alt="">
            <div class="text_what">
              <h3 class="title_text">EASY THEME SETUP</h3>
              <p class="text">Nunc mattis lorem in leo lobortis, 
              ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-12 content_what">
            <img src="images/icon_3.png" alt="">
            <div class="text_what">
              <h3 class="title_text">EASY THEME SETUP</h3>
              <p class="text">Nunc mattis lorem in leo lobortis, 
              ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-12 content_what">
            <img src="images/icon_4.png" alt="">
            <div class="text_what">
              <h3 class="title_text">EASY THEME SETUP</h3>
              <p class="text">Nunc mattis lorem in leo lobortis, 
              ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-12 content_what">
            <img src="images/icon_1.png" alt="">
            <div class="text_what">
              <h3 class="title_text">EASY THEME SETUP</h3>
              <p class="text">Nunc mattis lorem in leo lobortis, 
              ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-12 content_what">
            <img src="images/icon_2.png" alt="">
            <div class="text_what">
              <h3 class="title_text">EASY THEME SETUP</h3>
              <p class="text">Nunc mattis lorem in leo lobortis, 
              ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-12 content_what">
            <img src="images/icon_3.png" alt="">
            <div class="text_what">
              <h3 class="title_text">EASY THEME SETUP</h3>
              <p class="text">Nunc mattis lorem in leo lobortis, 
              ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-12 content_what">
            <img src="images/icon_4.png" alt="">
            <div class="text_what">
              <h3 class="title_text">EASY THEME SETUP</h3>
              <p class="text">Nunc mattis lorem in leo lobortis, 
              ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>