<header id="header" class="header">
  <div class="container">
    <div class="row display-flex">
      <div class="col-md-3 col-sm-3 col-xs-5 logo">
        <h1><a href="/"><img class="item-logo-res" src="../../images/logo.png" alt="images logo"></a></h1>
      </div>
      <button type="button" class="navbar-toggle" id="menu">
        <span class="icon-bar"></span>
      </button>
      <div class="col-md-9 col-sm-9 col-xs-12 item-content-menu">
        <ul class="nav-list" id="myNavbar">
          <li class="item-nav">
            <a class="title-nav" href="#home">HOME</a>
          </li>
          <li class="item-nav">
            <a class="title-nav" href="#about">ABOUT</a>
          </li>
          <li class="item-nav">
            <a class="title-nav" href="#team">TEAM</a>
          </li>
          <li class="item-nav">
            <a class="title-nav " href="#work">WORK</a>
          </li>
          <li class="item-nav">
            <a class="title-nav" href="#services">SERVICES</a>
          </li>
          <li class="item-nav">
            <a class="title-nav" href="#features">FEATURES</a>
          </li>
          <li class="item-nav">
            <a class="title-nav" href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</header>