$color-white: #FFF;
$color-black: #000;
$color-hover: #23b7a4;
$color-menu: #1d2126;
$color-bg: #3a454d;
$color-bd: #e1e6ea;
$color-form: #eaeef1;
$color-icon: #c8cdd0;
$color-hv-icon: #d0d5d9;
$color-hv-item: #4e5a62;
$color-text: #292f36;
$color-text-1: #b0b1b3;
$bg-header: #222;